/* ======================
NAVIGATION BAR
=========================*/

.topNavContainer {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 2.8rem;
  background-color: $primaryBlue;
  box-shadow: 0 0.1rem 0.5rem rgba(39, 65, 105, 0.8);
}

.topNavContainer .wrapper {
  height: 100%;
}

.topNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: $primaryWhite;
}

.topNavLinksContainer {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.mobileName {
  display: none;
}

.desktopName {
  position: relative;
}

.desktopName:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.1rem;
  border-bottom: 2px solid $secondaryBlue;
}


/* ======================
HEADER
=========================*/

header {
  height: calc(100vh - 2.8rem);
  background-image: linear-gradient($primaryBlue, $secondaryBlue);
  color: $primaryWhite;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.headerButtons {
  display: flex;
  gap: 2rem;
}

.headerButtons a {
  margin-top: 1.8rem;
  padding: 0.6rem 1.8rem;
  background: $primaryWhite;
  color: black;
}

.headerButtons a:hover {
  background-color: $primaryBlue;
  color: $primaryWhite;
}

.fa-arrow-down {
  margin: 1rem 0;
}


/* ======================
ABOUT ME
=========================*/

.aboutMe {
  display: flex;
  flex-direction: column;
  background: $primaryWhite;
}

.aboutMeContent {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}




.aboutMeImage {
  flex: 1 0 15rem;
}

.aboutMeImage img {
  border-radius: 10rem;
  border: 0.25rem solid $tertiaryBlue;
}

.aboutMeText {
  flex: 1 1 auto;
}

// .aboutMeSkills {
//   padding-top: 3rem;
// }


.aboutMeName {
  @include fontSize(30);
}

.aboutMeBlockToggle {
  position: relative;
  display: inline-block;
}

.aboutMeBlockToggle::before {
  content: "";
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: -0.15rem;
  border-bottom: 0.15rem solid $secondaryBlue;
}

.aboutMeText p:nth-child(2) {
  padding: 1.2rem 0;
}




/* ======================
SKILLS
=========================*/

.skillsIcons p {
  @include fontSize(20);
  font-weight: 400;
  text-align: center;
  padding: 0.4rem 0;
}

.skillsIconsContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.skillsIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // flex: 1 0 20%;
  flex-grow: 1;
  // flex-shrink: 0;
  flex-basis: calc(100% / 6 - 1.5rem);
  // border: 2px solid red;
  // padding-bottom: 1rem;
  // color: $tertiaryBlue;
  color: $primaryGrey;

}

.skillsIcons:hover {
  color: $primaryBlue;
}

.skills {
  background-color: $secondaryBlue;
  // background-image: linear-gradient($primaryBlue, 1%, $secondaryBlue);
  // background: radial-gradient($primaryBlue, $secondaryBlue);
  // background: radial-gradient($secondaryBlue, $primaryBlue);
}

.skills .sectionTitle {
  color: $primaryGrey;

}

.skills .sectionStamp {
  background: $primaryBlue;
  color: $primaryWhite;
}


/* ======================
PROJECTS
=========================*/

.projects {
  background: $primaryWhite;
}

.projectsGroups {
  display: flex;
  align-items: center;
  gap: 3rem;
  
  
  // border: 3px solid $primaryGrey;
  // background: $primaryWhite;
  // padding: 2rem;
  // border-radius: 2rem;
}

.projectsIcons {
  display: flex;
  gap: 1rem;
  padding: 0.8rem 0;
}

.projectsIcons p {
  padding: 0.5rem 0;
  font-weight: 500;
}

.projectsButtons {
  display: flex;
  gap: 0.5rem;
}

.projectsButtons button {
  background: $primaryBlue;
  padding: 0.4rem 0.9rem;
  color: $primaryWhite;
  margin-top: 1rem;
}

.projectsItem {
  // flex-basis: calc(100% / 2);
}

.projectsText {
  flex-basis: 55%;
  flex-grow: 1;
  flex-shrink: 1;
}

.projectsImages {
  display: flex;
  align-items: center;
  // flex-basis: 70rem;
  flex-basis: 45%;
  flex-shrink: 0;
}

.projectsGroupsImgLeft {
  text-align: right;
}

.projectsGroupsImgRight .projectsImages {
  // margin-left: 3rem;
}

.projectsGroupsImgLeft {
  margin: 5rem 0;
}

.projectsGroupsImgLeft .projectsIcons {
  justify-content: flex-end;
}

.projectsGroupsImgLeft .projectsLinks {
  justify-content: flex-end;
}

.projectsGroupsImgLeft .projectsImages {
  // margin-right: 3rem;
  // flex: 1 1 65rem;
}

.projectsLinks {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.projectsLinks a {
  padding: 0.3rem 0.8rem;
  background: $primaryBlue;
  color: $primaryWhite;
  font-weight: 400;
}

.projectsLinks a:hover {
  background: $secondaryBlue;
}


/* ======================
CONTACT
=========================*/

.contact {
  // background: $primaryBlue;
  background-image: linear-gradient($secondaryBlue, $primaryBlue);
  padding: 5.5rem 0 4rem 0;
  color: $primaryWhite;
}

.contact .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

}



.contactText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(100% / 2);
}

.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contactLinks a {
  display: flex;
  align-items: center;
}

.contactLinks {
  margin: 0;
}

.contactLinks a {
  color: $primaryWhite;
}

.contactLinks i {
  margin-right: 0.8rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 0.5rem;
}

.contactFormGroups {
  padding: 0.2rem 0;
  margin: 0.5rem 0 1rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $primaryWhite;
  background: transparent;
  color: $primaryWhite;
}

.contactMessage {
  height: 6rem;
}

.contactButton {
  width: 8rem;
  background: $primaryWhite;
}

.contactButton:hover {
  background-color: $secondaryBlue;
}

.contactLinks a:hover {
  color: $secondaryBlue;
}

/* ======================
FOOTER
=========================*/

footer {
  background: $primaryBlue;
  padding: 1rem 0;
}

footer p {
  text-align: center;
  color: $primaryWhite;
  @include lineHeight(28);
}





/* ======================
MEDIA QUERIES
=========================*/

@media (max-width: 1052px) {
  // p {
  //   color: red;
  // }

  h1 {
    @include fontSize(80);
    @include lineHeight(95);
  }

  .headerButtons a {
    padding: 0.4rem 1.4rem;
  }

  .skillsIcons {
    flex-basis: calc(100% / 4 - 1.5rem);
  }

  h3 {
    @include fontSize(40);
    // font-size: 300%;
  }

  .projectsGroups{
    // display: block;
    // width: 50%;
    flex-direction: column;
    gap: 1.5rem;

    // border: 3px solid $primaryGrey;
    // background: $primaryGrey;
    // padding: 2rem;
    // border-radius: 2rem;
  }

  .projects {
    background: $primaryWhite;
  }

  .projectsGroupsImgLeft {
    margin: 8rem 0;
  }

  .projectsGroupsImgRight .projectsText {
    order: 2;
  }

  .projectsText {
    text-align: center;
  }

  .projectsIcons {
    justify-content: center;
  }
  
  .projectsLinks {
    justify-content: center;
  }

  .projectsGroupsImgLeft .projectsIcons {
    justify-content: center;
  }
  
  .projectsGroupsImgLeft .projectsLinks {
    justify-content: center;
  }

  .projectsImages {
    width: 70%;
  }

  .projectsLinks a {
    padding: 0.3rem 0.8rem;
    background: $primaryBlue;
    color: $primaryWhite;
    font-weight: 400;
    display: block;
  }


  // .contact h2 {
  //   @include fontSize(40);
  // }

  .contact .wrapper {
    flex-direction: column;
  }

  .contactText {
    // text-align: center;
    gap: 2rem;
  }

  // .contactLinks {
  //   margin: 0 auto;
  // }

  .contact .wrapper {
    gap: 4rem;
  }

  .contactForm {
    border: 3px solid $primaryWhite;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  
  .contactButton {
    margin: 0 auto;
  }

  .sectionTitle {
    padding-bottom: 2.4rem;
  }


}









@media (max-width: 768px) {
  // p {
  //   color: blue;
  // }

  h1 {
    @include fontSize(58);
    @include lineHeight(75);
  }

  .headerButtons a {
    padding: 0.3rem 1rem;
  }


  

  .desktopName {
    display: none;
  }

  .mobileName {
    display: inline;
    @include fontSize(22);
    @include letterSpacing(2);
    font-weight: 200;
    position: relative;
  }

  .mobileName:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.15rem;
    border-bottom: 0.15rem solid $secondaryBlue;
  }

  .mobileNameKK {
    font-weight: 600;
  }


  .aboutMeContent {
    flex-direction: column;
  }

  .aboutMeImage {
    flex-basis: 40%;
    width: 50%;
  }

  .skillsIcons {
    flex-basis: calc(100% / 3 - 1.5rem);
  }


  .projectsImages {
    width: 80%;
  }



  .fa-bars {
    visibility: visible;
    position: relative;
    top: 0.1rem;
    cursor: pointer;
  }

  .fa-bars:hover {
    color: $secondaryBlue;
  }

  .topNavLinksContainer {
    // flex-direction: column;
    position: fixed;
    left: 0;
    top: 2.8rem;
    bottom: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    height: 0;
    // background-color: $primaryWhite;
}

  .topNavLinksContainer li a p {
    cursor: pointer;
  }

  .topNavLinksContainer li a {
    padding-left: 1rem;
    // transition: all 0.1s;
  }

  // .headerNavIcons li a:hover,
  // .headerNavIcons li a:focus {
  //   background-color: $secondaryBlue;
  //   color: $primaryWhite;
    
  // }

  // .headerNavIcons a {
  //   display: block;
  //   width: 100%;
  // }

  // .headerNavGroup input[type=checkbox]:checked + .headerNavIcons {
  //   height: 9rem;
  //   width: 16.5rem;
  //   background-color: $primaryBlue;
  // }

  .topNavLinksContainer {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }

  .display {
    display: inline
  }

  .topNavLinksContainer i:hover {
    color: $primaryBlue;
  }

  .contact {
    padding: 4.5rem 0 
  }

  .contactMessage {
    height: 8rem;
  }







.mobileHamContainer {
  cursor: pointer;
  position: fixed;
  right: 1.9rem;
  top: 0.7rem;
  width: 2rem;
  height: 2rem;
  // background-color: red;
}

  .mobileHamBars {

    height: 0.2rem;
    width: 1.8rem;
    background-color: white;
    color: white;
    position: fixed;
    right: 2rem;
    top: 1.3rem;
  }

  .mobileHamBar1 {
    top: 0.8rem;
    transition: 0.5s;
  }

  .mobileHamBar2  {
    transition: 0.5s;
  }

  .mobileHamBar3 {
    top: 1.8rem;
    transition: 0.5s;
  }

  .topTransform {
    transform: rotate(45deg);
    top: 1.42rem;
  }

  .middleTransform {
    background-color: transparent;
  }

  .bottomTransform {
    transform: rotate(-45deg);
    top: 1.38rem;
  }

  .topNavLinksContainer {
    transition: 0.5s;
  }

  .navExpanded {
    height: 10rem;
    position: fixed;
    left: 0;
    background: $primaryBlue;

  }

  .fa-arrow-down {
    cursor: pointer;
  }



}















@media (max-width: 534px) {
  // p {
  //   color: green;
  // }

  h1 {
    @include fontSize(38);
    @include lineHeight(55);
  }





  .headerButtons {
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.5rem;
  }

  .headerButtons a {
    margin: 0;
    padding: 0.2rem 0.7rem;
  }




  .aboutMeContent {
    flex-direction: column;
  }

  .aboutMeImage {
    width: 65%;
  }

  .aboutMeName {
    @include fontSize(25);
  }

  .skillsIcons {
   border-radius: 2rem;
   padding: 0.5rem;
  }

  .skillsIcons {
    flex-basis: calc(100% / 2 - 3.5rem);
  }





  h2 {
    @include fontSize(32);
  }

  .sectionStamp {
    padding: 0.15rem 0.4rem;
  }

  .projects i {
    @include fontSize(23);
  }

  .projectsLinks {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: 1rem;
  }

  .projectsImages {
    width: 90%;
  }


  .desktopName {
    @include fontSize(20);
    @include lineHeight(24);
  }

 



  .footerBlockToggle {
    display: block;
  }

}


@media (max-width: 375px) {
  .skillsIcons {
    flex-basis: 100%;
  }
}



@media (max-width: 393px) {
  .skillsIcons {
    flex-basis: 100%;
  }
}

@media (max-width: 348px) {
  // p {
  //   color: orange;
  // }

  h1 {
    @include fontSize(38);
    @include lineHeight(50);
  }

  h1 .block {
    @include fontSize(32);
  }

  .headerButtons {
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.5rem;
  }

  .blockToggle {
    display: block;
  }






  







}

@media (max-width: 320px) {
  // p {
  //   color: rebeccapurple;
  // }
}







// @media (max-width: 940px) {
//   p {
//     color: red;
//   }
// }

// @media (max-width: 768px) {
//   p {
//     color: blue;
//   }
// }

// @media (max-width: 480px) {
//   p {
//     color: green;
//   }
// }

// @media (max-width: 320px) {
//   p {
//     color: rebeccapurple;
//   }
// }


