/* ======================
HEADER
=========================*/

header {
  height: calc(100vh - 2.8rem);
  // background-image: url("./hero.jpeg") center;
  // background-image: url("../assets/hero2.jpg");
  // background-size: cover;
  // background: $primaryBlue;
  background-image: linear-gradient($primaryBlue, $secondaryBlue);
  color: $primaryWhite;
  // background-color: rgba(39, 65, 105, 0.6);
  // background-blend-mode: multiply;
}

.headerNavIcons {
  display: flex;
  justify-content: space-between;
  width: 12%;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header button {
  margin-top: 2rem;
}

header i {
  padding: 1rem 0;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  margin-top: -2rem;
}

.headerTitleButtons a {
  margin-top: 1.8rem;
  padding: 0.6rem 1.8rem;
  background: $primaryWhite;
  color: black;
  font-weight: 400;
}



/* ======================
NAVIGATION BAR
=========================*/

.headerNavWrapper {
  // background-image: url("../assets/headshot.jpg");
  height: 2.8rem;
  z-index: 10;
  background: $primaryBlue;
  position: sticky;
  top: 0;
  box-shadow: 0 0.1rem 0.5rem rgba(39, 65, 105, 0.8);
}

.headerNavGroup {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primaryWhite;
  height: 100%;
}

.headerNavGroup p {
  @include fontSize(22);
}

.headerTitleButtons {
  display: flex;
  gap: 2rem;
}

/* ======================
ABOUT ME
=========================*/

.aboutMe {
  display: flex;
  flex-direction: column;
  background: $primaryWhite;
}

.aboutMeContent {
  display: flex;
  align-items: center;
}




.aboutMeContentImage {
  flex: 1 0 15rem;
}

.aboutMeContentImage img {
  border-radius: 10rem;
  border: 0.25rem solid $tertiaryBlue;
}

.aboutMeContentText {
  margin-left: 2.5rem;
  flex: 1 1 auto;
}

// .aboutMeSkills {
//   padding-top: 3rem;
// }




.aboutMeName {
  position: relative;
  @include fontSize(30);
  display: inline-block;
}

.aboutMeName::before {
  content: '';
  position: absolute;
  top: 0.8rem;
  left: 5rem;
  right: 0rem;
  height: 1rem;
  border-bottom: 3px solid $secondaryBlue;
}

.aboutMeContentText p:nth-child(2) {
  padding: 2rem 0;
}




/* ======================
SKILLS
=========================*/

.aboutMeSkills p {
  @include fontSize(20);
  font-weight: 400;
  text-align: center;
  padding: 0.4rem 0;
  
}

.aboutMeSkillsIcons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.aboutMeSkillsIcons li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // flex: 1 0 20%;
  flex-grow: 1;
  // flex-shrink: 0;
  flex-basis: calc(100% / 6 - 1.5rem);
  // border: 2px solid red;
  // padding-bottom: 1rem;
  color: $tertiaryBlue;
}

.aboutMeSkillsIcons li:hover {
  color: $secondaryBlue;
}

.skills {
  background-color: $primaryGrey;
}




/* ======================
PROJECTS
=========================*/

.projects {
  background: $primaryWhite;
}

.projectsGroups {
  display: flex;
  align-items: center;
}

.projectsIcons {
  display: flex;
  gap: 1rem;
  padding: 0.8rem 0;
}

.projectsIcons p {
  padding: 0.5rem 0;
  font-weight: 500;
}

.projectsButtons {
  display: flex;
  gap: 0.5rem;
}

.projectsButtons button {
  background: $tertiaryBlue;
  padding: 0.4rem 0.9rem;
  color: $primaryWhite;
  margin-top: 1rem;
}

.projectsImages {
  display: flex;
  align-items: center;
  flex: 1 1 70rem;
}

.projectsGroupsImgLeft {
  text-align: right;
}

.projectsGroupsImgRight .projectsImages {
  margin-left: 3rem;
}

.projectsGroupsImgLeft {
  margin: 8rem 0;
}

.projectsGroupsImgLeft .projectsIcons {
  justify-content: flex-end;
}

.projectsGroupsImgLeft .projectsButtons {
  justify-content: flex-end;
}

.projectsGroupsImgLeft .projectsImages {
  margin-right: 3rem;
  flex: 1 1 65rem;
}


/* ======================
CONTACT
=========================*/

.contact {
  // background: $primaryBlue;
  background-image: linear-gradient($secondaryBlue, $primaryBlue);

  color: $primaryWhite;
}

.contact .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

}

.contactGroups {
  flex-basis: calc(100% / 2);
}

.contactText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .contactText p {
//   padding: $paddingStandard;
// }

.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contactLinksGroups a {
  display: flex;
  align-items: center;
}

.contactLinksGroup {
  margin: 0;
}

.contactLinksGroups a {
  color: $primaryWhite;
}

.contactLinksGroups i {
  margin-right: 0.8rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

.contactFormGroups {
  padding: 0.2rem 0;
  margin: 0.5rem 0 1rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  color: $primaryWhite;
}

.contactMessage {
  height: 6rem;
}

.contactButton {
  width: 8rem;
}


/* ======================
FOOTER
=========================*/

footer {
  background: $primaryWhite;
}

footer p {
  text-align: center;
}





/* ======================
MEDIA QUERIES
=========================*/

@media (max-width: 940px) {
  footer {
    background-color: red;
  }
}

@media (max-width: 768px) {
  footer {
    background-color: blue;
  }
}

@media (max-width: 480px) {
  footer {
    background-color: green;
  }
}

@media (max-width: 320px) {
  footer {
    background-color: rebeccapurple;
  }
}