/* ======================
TYPOGRAPHY
=========================*/

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 125%;
  color: black;
  @include letterSpacing(0.8);
}

h1 {
  @include fontSize(80);
  @include lineHeight(105);
  font-weight: 300;
}

h2 {
  @include fontSize(45);
  font-weight: 600;
}

h3 {
  @include fontSize(35);
}

p {
  @include lineHeight(32);
}

a {
  font-weight: 400;
}


/* ======================
GENERAL
=========================*/

.wrapper {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

h1, h2, h3, p, a, ul, button, label {
  margin: 0;
  padding: 0;
}

section {
  padding: 4rem 0;
}

.sectionTitle {
  text-align: center;
  padding-bottom: 3.2rem;
}

.sectionStamp {
  display: inline-block;
  padding: 0.15rem 0.8rem;
  margin-bottom: 0.5rem;
  background: $secondaryBlue;
  color: $primaryWhite;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}