$primaryBlue: #274169;
$secondaryBlue: #3288c6;
$primaryWhite: #e8edf0;

$paddingStandard: 2rem 0;

// $sencondayGreen: #bcf7ed;
// $primaryBlack: #2c2c2c;
// $primaryWhite: #f0f0f0;
// $primaryRed: #ba4e4e;