@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ======================
TYPOGRAPHY
=========================*/
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 125%;
  color: black;
  letter-spacing: 0.8px;
  letter-spacing: 0.04rem;
}

h1 {
  font-size: 100px;
  font-size: 5rem;
  line-height: 120px;
  line-height: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 45px;
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 35px;
  font-size: 1.75rem;
}

p {
  line-height: 32px;
  line-height: 1.6rem;
}

/* ======================
GENERAL
=========================*/
.wrapper {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

h1, h2, h3, p, a, ul, button, label {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  color: black;
}

section {
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

header i {
  font-size: 30px;
  font-size: 1.5rem;
}

.headerNavWrapper i {
  font-size: 26px;
  font-size: 1.3rem;
  color: #f3f7fa;
}

.skills i {
  font-size: 55px;
  font-size: 2.75rem;
}

.projects i {
  font-size: 28px;
  font-size: 1.4rem;
}

.contact i {
  font-size: 32px;
  font-size: 1.6rem;
}

.block {
  display: block;
}

button {
  padding: 0.6rem 1.8rem;
}

textarea {
  resize: none;
}

section {
  padding: 6rem 0;
}

.sectionTitle {
  text-align: center;
  padding-bottom: 3.5rem;
}

.sectionStamp {
  display: inline-block;
  padding: 0.15rem 0.8rem;
  margin-bottom: 0.5rem;
  background: #3288c6;
}

/* ======================
HEADER
=========================*/
header {
  height: calc(100vh - 2.8rem);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#274169), to(#3288c6));
  background-image: linear-gradient(#274169, #3288c6);
  color: #f3f7fa;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header button {
  margin-top: 2rem;
}

header i {
  padding: 1rem 0;
}

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
  margin-top: -2rem;
}

.headerTitleButtons a {
  margin-top: 1.8rem;
  padding: 0.6rem 1.8rem;
  background: #f3f7fa;
  color: black;
  font-weight: 400;
}

.headerTitleButtons a:hover {
  background-color: #274169;
  color: #f3f7fa;
}

/* ======================
NAVIGATION BAR
=========================*/
.headerNavWrapper {
  height: 2.8rem;
  z-index: 10;
  background: #274169;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(39, 65, 105, 0.8);
          box-shadow: 0 0.1rem 0.5rem rgba(39, 65, 105, 0.8);
}

.headerNavGroup {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3f7fa;
  height: 100%;
}

.headerNavGroup p {
  font-size: 22px;
  font-size: 1.1rem;
}

.headerTitleButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.headerNavIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}

.headerNavIcons i:hover {
  color: #3288c6;
}

/* ======================
ABOUT ME
=========================*/
.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f7fa;
}

.aboutMeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMeContentImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15rem;
          flex: 1 0 15rem;
}

.aboutMeContentImage img {
  border-radius: 10rem;
  border: 0.25rem solid #1e2f50;
}

.aboutMeContentText {
  margin-left: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aboutMeName {
  position: relative;
  font-size: 30px;
  font-size: 1.5rem;
  display: inline-block;
}

.aboutMeName::before {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: 5rem;
  right: 0rem;
  height: 1rem;
  border-bottom: 3px solid #3288c6;
}

.aboutMeContentText p:nth-child(2) {
  padding: 1.2rem 0;
}

/* ======================
SKILLS
=========================*/
.aboutMeSkills p {
  font-size: 20px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding: 0.4rem 0;
}

.aboutMeSkillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutMeSkillsIcons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(100% / 6 - 1.5rem);
      flex-basis: calc(100% / 6 - 1.5rem);
  color: #eeeff0;
}

.aboutMeSkillsIcons li:hover {
  color: #274169;
}

.skills {
  background-color: #3288c6;
}

.skills .sectionTitle {
  color: #eeeff0;
}

.skills .sectionStamp {
  background: #274169;
  color: #f3f7fa;
}

/* ======================
PROJECTS
=========================*/
.projects {
  background: #f3f7fa;
}

.projectsGroups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.projectsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 0.8rem 0;
}

.projectsIcons p {
  padding: 0.5rem 0;
  font-weight: 500;
}

.projectsButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.projectsButtons button {
  background: #274169;
  padding: 0.4rem 0.9rem;
  color: #f3f7fa;
  margin-top: 1rem;
}

.projectsText {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.projectsImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.projectsGroupsImgLeft {
  text-align: right;
}

.projectsGroupsImgLeft {
  margin: 8rem 0;
}

.projectsGroupsImgLeft .projectsIcons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsGroupsImgLeft .projectsLinks {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.projectsLinks a {
  padding: 0.3rem 0.8rem;
  background: #274169;
  color: #f3f7fa;
  font-weight: 400;
}

.projectsLinks a:hover {
  background: #3288c6;
}

/* ======================
CONTACT
=========================*/
.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3288c6), to(#274169));
  background-image: linear-gradient(#3288c6, #274169);
  color: #f3f7fa;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.contactGroups {
  -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2);
}

.contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}

.contactLinksGroups a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactLinksGroup {
  margin: 0;
}

.contactLinksGroups a {
  color: #f3f7fa;
}

.contactLinksGroups i {
  margin-right: 0.8rem;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

.contactFormGroups {
  padding: 0.2rem 0;
  margin: 0.5rem 0 1rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  color: #f3f7fa;
}

.contactMessage {
  height: 6rem;
}

.contactButton {
  width: 8rem;
}

.contactButton:hover {
  background-color: #3288c6;
}

.contactLinksGroups a:hover {
  color: #3288c6;
}

/* ======================
FOOTER
=========================*/
footer {
  background: #f3f7fa;
}

footer p {
  text-align: center;
}

/* ======================
MEDIA QUERIES
=========================*/
@media (max-width: 1052px) {
  p {
    color: red;
  }

  .aboutMeSkillsIcons li {
    -ms-flex-preferred-size: calc(100% / 4 - 1.5rem);
        flex-basis: calc(100% / 4 - 1.5rem);
  }
}
@media (max-width: 768px) {
  p {
    color: blue;
  }

  .aboutMeSkillsIcons li {
    -ms-flex-preferred-size: calc(100% / 3 - 1.5rem);
        flex-basis: calc(100% / 3 - 1.5rem);
  }
}
@media (max-width: 534px) {
  p {
    color: green;
  }

  .aboutMeSkillsIcons li:nth-child(7) {
    -ms-flex-preferred-size: calc(100% / 2 - 1.5rem);
        flex-basis: calc(100% / 2 - 1.5rem);
  }

  .aboutMeSkillsIcons li:nth-child(8) {
    -ms-flex-preferred-size: calc(100% / 2 - 1.5rem);
        flex-basis: calc(100% / 2 - 1.5rem);
  }

  .aboutMeSkillsIcons li:nth-child(9) {
    -ms-flex-preferred-size: calc(100% / 2 - 1.5rem);
        flex-basis: calc(100% / 2 - 1.5rem);
  }

  .aboutMeSkillsIcons li:nth-child(10) {
    -ms-flex-preferred-size: calc(100% / 2 - 1.5rem);
        flex-basis: calc(100% / 2 - 1.5rem);
  }
}
@media (max-width: 345px) {
  p {
    color: orange;
  }

  .aboutMeSkillsIcons li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 320px) {
  p {
    color: rebeccapurple;
  }
}