@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ======================
TYPOGRAPHY
=========================*/
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 125%;
  color: black;
  letter-spacing: 0.8px;
  letter-spacing: 0.04rem;
}

h1 {
  font-size: 80px;
  font-size: 4rem;
  line-height: 105px;
  line-height: 5.25rem;
  font-weight: 300;
}

h2 {
  font-size: 45px;
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 35px;
  font-size: 1.75rem;
}

p {
  line-height: 32px;
  line-height: 1.6rem;
}

a {
  font-weight: 400;
}

/* ======================
GENERAL
=========================*/
.wrapper {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
}

h1, h2, h3, p, a, ul, button, label {
  margin: 0;
  padding: 0;
}

section {
  padding: 4rem 0;
}

.sectionTitle {
  text-align: center;
  padding-bottom: 3.2rem;
}

.sectionStamp {
  display: inline-block;
  padding: 0.15rem 0.8rem;
  margin-bottom: 0.5rem;
  background: #3288c6;
  color: #f3f7fa;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

/* ======================
NAVIGATION BAR
=========================*/
.topNavContainer {
  position: sticky;
  top: 0;
  z-index: 20;
  height: 3rem;
  background-color: #274169;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(39, 65, 105, 0.8);
          box-shadow: 0 0.1rem 0.5rem rgba(39, 65, 105, 0.8);
  color: #f3f7fa;
}

.topNavContainer .wrapper {
  height: 100%;
}

.topNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.name {
  position: relative;
  font-size: 24px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  letter-spacing: 0.1rem;
  font-weight: 200;
  cursor: default;
}

.name:hover::before,
.name:focus::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.1rem;
  border-bottom: 2px solid #3288c6;
}

.nameAbr {
  font-weight: 600;
}

.topNavLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}

.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
  font-weight: 400;
}

.contactLinks button {
  color: #f3f7fa;
  background-color: transparent;
  cursor: pointer;
}

.contactLinks button:hover,
.contactLinks button:focus {
  color: #3288c6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mobileHamContainer {
  display: none;
}

/* ======================
HEADER
=========================*/
header {
  height: calc(100vh - 3rem);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#274169), to(#3288c6));
  background-image: linear-gradient(#274169, #3288c6);
  color: #f3f7fa;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.headerTitle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
}

.headerTitle .titleBold {
  font-weight: 700;
  display: block;
}

.headerTitle button {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 25px;
  font-size: 1.25rem;
}

.headerTitle button:hover,
.headerTitle button:focus {
  background-color: #274169;
  color: #f3f7fa;
}

.titleWebDev {
  position: relative;
}

.titleBar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #f3f7fa;
  -webkit-animation: cursor 2s ease;
          animation: cursor 2s ease;
}

@-webkit-keyframes cursor {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes cursor {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.titleColorNew {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.titleColorToWhite {
  -webkit-animation: fade 5s ease;
          animation: fade 5s ease;
}

@-webkit-keyframes fade {
  75% {
    color: #f3f7fa;
  }
  100% {
    color: #f3f7fa;
  }
}

@keyframes fade {
  75% {
    color: #f3f7fa;
  }
  100% {
    color: #f3f7fa;
  }
}
.fa-arrow-down {
  margin: 1rem 0;
  -webkit-animation: arrowMove 2.5s infinite;
          animation: arrowMove 2.5s infinite;
  cursor: pointer;
}

@-webkit-keyframes arrowMove {
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

@keyframes arrowMove {
  50% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}
/* ======================
ABOUT ME
=========================*/
.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f3f7fa;
}

.aboutMe .sectionTitle {
  padding-bottom: 2.7rem;
}

.aboutMeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.aboutMeImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15rem;
          flex: 1 0 15rem;
}

.aboutMeImage img {
  border-radius: 10rem;
  border: 0.25rem solid #274169;
}

.aboutMeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aboutMeName {
  font-size: 30px;
  font-size: 1.5rem;
}

.aboutMeBlockToggle {
  position: relative;
  display: inline-block;
  font-weight: 700;
}

.aboutMeBlockToggle::before {
  content: "";
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: -0.15rem;
  border-bottom: 0.15rem solid #3288c6;
}

.aboutMeText p:nth-child(2) {
  padding: 1.2rem 0;
}

/* ======================
SKILLS
=========================*/
.skills {
  background-color: #3288c6;
}

.skills .sectionTitle {
  color: #f3f7fa;
}

.skills .sectionStamp {
  background: #274169;
  color: #f3f7fa;
}

.skillsIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 6 - 1.5rem);
          flex: 1 1 calc(100% / 6 - 1.5rem);
  -webkit-transition: 1s;
  transition: 1s;
  color: #f3f7fa;
}

.skillsIcons p {
  padding: 0.4rem 0;
  text-align: center;
  font-weight: 400;
  cursor: default;
}

.skillsIcons i {
  font-size: 55px;
  font-size: 2.75rem;
}

.skillsIcons:hover {
  color: #274169;
}

/* ======================
PROJECTS
=========================*/
.projects {
  background: #f3f7fa;
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.projectsGroups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.projectsGroupsImgLeft {
  text-align: right;
}

.projectsGroupsImgLeft .projectsIcons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsGroupsImgLeft .projectsLinks {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.projectsText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
}

.projectsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 0.8rem 0;
}

.projectsIcons p {
  padding: 0.5rem 0;
  font-weight: 500;
}

.projectsIcons i {
  font-size: 28px;
  font-size: 1.4rem;
}

.projectsLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.projectsLinks a {
  padding: 0.3rem 0.8rem;
  background: #274169;
  color: #f3f7fa;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projectsLinks a:hover,
.projectsLinks a:focus {
  background: #3288c6;
}

/* ======================
CONTACT
=========================*/
.contact {
  padding: 4rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3288c6), to(#274169));
  background-image: linear-gradient(#3288c6, #274169);
  color: #f3f7fa;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.5rem;
  max-width: 50rem;
}

.contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contactText h2 {
  text-align: center;
}

.contactGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8rem;
  width: 50%;
  margin: 0 auto;
}

.contactLinks i {
  font-size: 43px;
  font-size: 2.15rem;
  color: #f3f7fa;
}

.iconDetails {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contactLinksFadeIn {
  opacity: 100%;
}

.contactLinksFadeOut {
  opacity: 0%;
}

.contactLinks {
  position: relative;
}

.contactLinks p {
  position: absolute;
  bottom: -2rem;
  left: -10rem;
  right: -10rem;
  text-align: center;
  color: #f3f7fa;
  font-weight: 500;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border: 3px solid #f3f7fa;
  border-radius: 0.4rem;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.contactFormInputs {
  border: none;
  border-bottom: 2px solid #f3f7fa;
  background: transparent;
  color: #f3f7fa;
}

.contactMessage {
  height: 8rem;
}

.contactButton {
  width: 8rem;
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
  background: #f3f7fa;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contactButton:hover,
.contactButton:focus {
  background-color: #3288c6;
  color: #f3f7fa;
}

/* ======================
FOOTER
=========================*/
footer {
  padding: 1rem 0;
  background: #274169;
}

footer p {
  color: #f3f7fa;
  text-align: center;
}

/* ======================
MEDIA QUERIES
=========================*/
@media (max-width: 1052px) {
  .sectionTitle {
    padding-bottom: 2.3rem;
  }

  .aboutMeContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutMeImage {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    width: 45%;
    min-width: 12rem;
  }

  .skillsIcons {
    -ms-flex-preferred-size: calc(100% / 4 - 1.5rem);
        flex-basis: calc(100% / 4 - 1.5rem);
  }

  .projectsGroupsImgRight .projectsText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .projectsGroups {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0rem;
  }

  .projectsImages {
    width: 70%;
  }

  .projectsText {
    text-align: center;
  }

  .projectsText h3 {
    font-size: 40px;
    font-size: 2rem;
  }

  .projectsGroupsImgLeft .projectsIcons,
.projectsGroupsImgLeft .projectsLinks,
.projectsIcons, .projectsLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact .wrapper {
    width: 80%;
  }

  .contactText {
    gap: 2rem;
  }

  .contactText h2 {
    text-align: center;
  }

  .contactGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.8rem;
    width: 50%;
    margin: 0 auto;
  }

  .contactButton {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .topNavLinksContainer {
    position: fixed;
    top: 3rem;
    right: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    gap: 0;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .contactLinks {
    width: 100%;
    text-align: center;
  }

  .contactLinks button {
    padding: 1rem 4.5rem;
  }

  .navBarExpanded {
    height: 32%;
    opacity: 95%;
    background: #274169;
  }

  .mobileHamContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 2rem;
    height: 1.2rem;
    cursor: pointer;
  }

  .mobileHamBars {
    height: 0.2rem;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .bar1Transform {
    -webkit-transform: translateY(0.5rem) rotate(-45deg);
            transform: translateY(0.5rem) rotate(-45deg);
  }

  .bar2Transform {
    background: transparent;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  .bar3Transform {
    -webkit-transform: translateY(-0.5rem) rotate(45deg);
            transform: translateY(-0.5rem) rotate(45deg);
  }

  header {
    height: calc(80vh - 3rem);
  }

  h1 {
    font-size: 58px;
    font-size: 2.9rem;
    line-height: 75px;
    line-height: 3.75rem;
  }

  .headerTitle button {
    padding: 0.3rem 1rem;
  }

  .skillsIcons {
    -ms-flex-preferred-size: calc(100% / 3 - 1.5rem);
        flex-basis: calc(100% / 3 - 1.5rem);
  }

  .projectsImages {
    width: 80%;
  }

  .contact .wrapper {
    width: 90%;
  }

  .contactGroup {
    width: 80%;
  }

  .contactForm {
    width: 100%;
  }

  .contactMessage {
    height: 8rem;
  }
}
@media (max-width: 534px) {
  h1 {
    font-size: 47px;
    font-size: 2.35rem;
    line-height: 65px;
    line-height: 3.25rem;
  }

  .headerTitle button {
    font-size: 20px;
    font-size: 1rem;
  }

  .sectionTitle h2 {
    font-size: 38px;
    font-size: 1.9rem;
  }

  .aboutMeContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutMeName {
    font-size: 25px;
    font-size: 1.25rem;
  }

  .skillsIcons {
    -ms-flex-preferred-size: calc(50% - 3.5rem);
        flex-basis: calc(50% - 3.5rem);
  }

  .skillsIcons i {
    font-size: 45px;
    font-size: 2.25rem;
  }

  .projectsImages {
    width: 90%;
  }

  .projectsLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
  }

  .contactForm {
    padding: 1.2rem;
  }

  .footerBlockToggle {
    display: block;
  }
}
@media (max-width: 430px) {
  h1 {
    font-size: 40px;
    font-size: 2rem;
    line-height: 55px;
    line-height: 2.75rem;
  }

  .sectionTitle h2 {
    font-size: 34px;
    font-size: 1.7rem;
  }

  .projects i {
    font-size: 22px;
    font-size: 1.1rem;
  }

  .contactGroup {
    width: 100%;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 34px;
    font-size: 1.7rem;
    line-height: 55px;
    line-height: 2.75rem;
  }
}